version: "3"

services:
  base:
    build:
      context: docker-common
      dockerfile: Dockerfile.jre8
    image: centos-base:jre8
    entrypoint: /bin/bash

  builder:
    build:
      context: docker-common
      dockerfile: Dockerfile.scala-sbt
    image: builder:scala-sbt
    entrypoint: /bin/bash

  kafka-proxy:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        - SCALA_VERSION=2.12
        - KAFKA_PROXY_VERSION=0.1.0-SNAPSHOT
    image: kafka-proxy:0.1.0-rc1
    depends_on:
      - base
      - builder
